torch==2.1.0
torchvision==0.16.0
fsspec==2023.6.0
fastapi
kaleido
python-multipart
uvicorn
cohere
tiktoken
jedi==0.19.1
numpy==1.25.2
tensorflow-probability==0.23.0
decorator==4.4.2
absl-py==1.4.0
requests==2.31.0
dependency_injector
diffusers
einops
eventlet
facexlib
flask_cors
flask_socketio
flaskwebgui
kornia
omegaconf
pudb
pyreadline3
pytorch-lightning
realesrgan
streamlit
taming-transformers-rom1504
test-tube
torch-fidelity
torchmetrics
transformers
picklescan
python-socketio==5.10.0
getpass_asterisk
huggingface-hub
pillow==10.0.1
xformers==0.0.23.dev687
